<div class="container board">

    <div id="Backlog" class="board__category">
        <p class="board__title">Backlog</p>
        <div class="board__items">
            <div class="board__item">
                <input type="hidden" class="board__item_id">
                <div class="board__itemText">Lorem ipsum dolor sit amet.</div>
                <textarea class="board__item_edit hide"></textarea>
            </div>
        </div>
        <div class="board__buttons">
            <button class="board__add">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M14 7H9V2C9 1.448 8.552 1 8 1C7.448 1 7 1.448 7 2V7H2C1.448 7 1 7.448 1 8C1 8.552 1.448 9 2 9H7V14C7 14.552 7.448 15 8 15C8.552 15 9 14.552 9 14V9H14C14.552 9 15 8.552 15 8C15 7.448 14.552 7 14 7Z" fill="#5E6C84"/>
                </svg>
                Add
            </button>
            <button class="board__submit hide">
                Submit
            </button>
        </div>
    </div>

    <div id="Ready" class="board__category">
        <p class="board__title">Ready</p>
        <div class="board__items">
            <div class="board__item">
                <input type="hidden" class="board__item_id">
                <div class="board__itemText">Lorem ipsum dolor sit amet.</div>
                <textarea class="board__item_edit hide"></textarea>
            </div>
        </div>
        <div class="board__buttons">
            <button class="board__move">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M14 7H9V2C9 1.448 8.552 1 8 1C7.448 1 7 1.448 7 2V7H2C1.448 7 1 7.448 1 8C1 8.552 1.448 9 2 9H7V14C7 14.552 7.448 15 8 15C8.552 15 9 14.552 9 14V9H14C14.552 9 15 8.552 15 8C15 7.448 14.552 7 14 7Z" fill="#5E6C84"/>
                </svg>
                Add
            </button>
            <ul class="dropdown hide"></ul>
        </div>
    </div>

    <div id="Progress" class="board__category">
        <p class="board__title">In Progress</p>
        <div class="board__items">
            <div class="board__item">
                <input type="hidden" class="board__item_id">
                <div class="board__itemText">Lorem ipsum dolor sit amet.</div>
                <textarea class="board__item_edit hide"></textarea>
            </div>
        </div>
        <div class="board__buttons">
            <button class="board__move">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M14 7H9V2C9 1.448 8.552 1 8 1C7.448 1 7 1.448 7 2V7H2C1.448 7 1 7.448 1 8C1 8.552 1.448 9 2 9H7V14C7 14.552 7.448 15 8 15C8.552 15 9 14.552 9 14V9H14C14.552 9 15 8.552 15 8C15 7.448 14.552 7 14 7Z" fill="#5E6C84"/>
                </svg>
                Add
            </button>
            <ul class="dropdown hide"></ul>
        </div>
    </div>

    <div id="Finished" class="board__category">
        <p class="board__title">Finished</p>
        <div class="board__items">
            <div class="board__item">
                <input type="hidden" class="board__item_id">
                <div class="board__itemText">Lorem ipsum dolor sit amet.</div>
                <textarea class="board__item_edit hide"></textarea>
            </div>
        </div>
        <div class="board__buttons">
            <button class="board__move">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M14 7H9V2C9 1.448 8.552 1 8 1C7.448 1 7 1.448 7 2V7H2C1.448 7 1 7.448 1 8C1 8.552 1.448 9 2 9H7V14C7 14.552 7.448 15 8 15C8.552 15 9 14.552 9 14V9H14C14.552 9 15 8.552 15 8C15 7.448 14.552 7 14 7Z" fill="#5E6C84"/>
                </svg>
                Add
            </button>
            <ul class="dropdown hide"></ul>
        </div>
    </div>

</div>